

@{
    ViewData["Title"] = "Thông tin";
}

<!--Main Product Detail : Begin-->
<main class="main" id="product-detail">
    <!--Breadcrumb : Begin-->
    <section class="header-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <h3 class="mh-title">Quảng Cáo Vĩnh An - Vĩnh Long</h3>
                </div>
                <div class="breadcrumb-w col-sm-8">
                    <span class="hidden-xs"></span>
                    <ul class="breadcrumb">
                        <li>
                            <a href="https://quangcaovinhan.com">Trang chủ</a>
                        </li>
                        <li>
                            <a href="#">Dịch vụ</a>
                        </li>
                        <li>
                            <span>Giới thiệu</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--Breadcrumb : End-->
    <!--Product info : Begin-->
    <section class="product-info-w">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab">Giới thiệu</a></li>
                        <li role="presentation"><a href="#ideals" aria-controls="ideals" role="tab" data-toggle="tab">Hình ảnh</a></li>
                        <li role="presentation"><a href="#paper" aria-controls="paper" role="tab" data-toggle="tab">Liên hệ</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="tab-content clearfix">
                    <div role="tabpanel" class="tab-pane active" id="features">
                        <div class="product-image v-middle">
                            <div class="col-sm-12 col-xs-12">
                                <img src="@ViewBag.LINK_ANH" alt="ideal 1">
                            </div>
                        </div>
                        <div class="product-shortdescript v-middle">
                            <div class="col-sm-12 col-xs-12">
                                <div class="v-middle">
                                    <h3>@Html.Raw(@ViewBag.TEN_SAN_PHAM)</h3>
                                    @Html.Raw(@ViewBag.TOM_TAT)
                                </div>
                            </div>
                        </div>
                    </div>



                    <div role="tabpanel" class="tab-pane" id="ideals">
                        <div class="col-md-8 col-md-offset-2 col-xs-12 ideals-w">
                            <div class="ideal">
                                <img src="@ViewBag.LINK_ANH" alt="ideal 1">
                            </div>
                            <div class="ideal">
                                <img src="@ViewBag.LINK_ANH" alt="ideal 2">
                            </div>
                            <div class="ideal">
                                <img src="@ViewBag.LINK_ANH" alt="ideal 3">
                            </div>
                            <div class="ideal">
                                <img src="@ViewBag.LINK_ANH" alt="ideal 4">
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="paper">

                        <div class="paper-des v-middle">
                            <div class="col-sm-11 col-sm-offset-1">
                                <div class="v-middle">
                                    <h3>Quảng cáo Vĩnh An - Vĩnh Long</h3>
                                    <ul>
                                        <li><i class="fa fa-check"></i> 123, Đường 2/9, Phường 1, Thành phố Vĩnh Long</li>
                                        <li><i class="fa fa-check"></i> 085 966 6999</li>
                                        <li><i class="fa fa-check"></i> congtyquangcaovinhan@gmail.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-image v-middle">
                            <div class="col-sm-12">
                                <img src="@ViewBag.LINK_ANH" alt="ideal 1" class="v-middle">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="tab-content clearfix">
                    <div role="tabpanel" class="tab-pane active">
                        <div class="product-shortdescript v-middle">
                            <div class="col-sm-12 col-xs-12">
                                <div class="v-middle">
                                    @Html.Raw(@ViewBag.NOI_DUNG)
                                </div>
                            </div>
                        </div>
                    </div>
                        
                </div>
            </div>

        </div>
</section><!--Product info : Begin-->

    
</main><!-- Main Product Detail: End -->
<!--Footer : Begin-->
